<!-- Layout and Positioning -->
<div class="py-20 bg-gray-200">
  <div class="container mx-auto">
    <div class="relative bg-white p-10 rounded-lg shadow-lg">
      <!-- absolutely positioned label -->
      <div
        class="absolute top-0 right-0 bg-red-500 text-red-100 text-xs rounded py-2 px-4 translate-x-2 -translate-y-2 animate-pulse"
      >
        Brand New
      </div>
      <p>
        Caramels gummi bears dragée jelly liquorice sweet. Jelly cheesecake
        jelly-o cake pudding toffee. Gummi bears wafer dessert chupa chups
        powder sweet wafer candy canes ice cream. Tiramisu sesame snaps bear
        claw gummi bears topping icing sesame snaps jujubes. Bear claw chupa
        chups tiramisu cheesecake carrot cake candy canes. Cake tiramisu candy
        tiramisu apple pie. Chocolate marzipan caramels icing lemon drops pie.
      </p>
    </div>
  </div>
</div>

<!-- Responsive Classes -->
<div class="bg-blue-200 p-4 lg:p-20">
  <h2
    class="text-6xl text-black md:text-red-600 lg:text-yellow-600 xl:text-white"
  >
    Mobile First
  </h2>

  <h2 class="text-3xl md:text-4xl lg:text-6xl">Different Sizes Per Device</h2>

  <!-- stacking vs side by side -->
  <div class="md:flex md:space-x-8">
    <div class="md:w-1/2 p-10 bg-white mt-10">on moblie we stack</div>
    <div class="md:w-1/2 p-10 bg-white mt-10">
      on desktop, we are side by side
    </div>
  </div>
</div>

<!-- Flexbox -->
<!-- centering -->
<div class="bg-green-700 h-64 flex justify-center items-center">
  <h2 class="text-4xl text-green-100">Centered!</h2>
</div>

<!-- navigation -->
<div class="bg-gray-300 p-10 flex justify-between">
  <div>logo</div>
  <div>navigation</div>
</div>

<!-- creating a colums section -->
<div class="bg-yellow-500 p-10 md:flex md:space-x-8 space-y-4 md:space-y-0">
  <div class="flex-shrink bg-white p-2">hello</div>
  <div class="flex-grow bg-white p-2">hello</div>
  <div class="flex-grow bg-white p-2">hello</div>
</div>

<!-- sidebar -->
<div class="bg-teal-700 h-64">
  <div class="md:flex h-full items-stretch">
    <div class="hidden md:block md:w-1/5 bg-orange-500 p-10">sidebar</div>
    <div class="md:flex-grow bg-teal-500 p-10">content</div>
  </div>
</div>

<!-- Grid -->
<div class="p-20 bg-green-200 text-green-800 grid grid-cols-3 gap-2">
  <div class="bg-green-100 rounded p-5">card 1</div>
  <div class="bg-green-100 rounded p-5">card 2</div>
  <div class="bg-green-100 rounded p-5">card 3</div>
  <div class="bg-green-100 rounded p-5">card 4</div>
  <div class="bg-green-100 rounded p-5">card 5</div>
  <div class="bg-green-100 rounded p-5">card 6</div>
</div>

<div class="p-20 bg-teal-200 text-teal-800 grid grid-cols-3 grid-rows-3 gap-3">
  <div class="bg-teal-100 rounded p-5">card 1</div>
  <div class="row-span-2 bg-teal-100 rounded p-5">card 2</div>
  <div class="bg-teal-100 rounded p-5">card 3</div>
  <div class="row-span-2 bg-teal-100 rounded p-5">card 4</div>
  <div class="row-span-2 bg-teal-100 rounded p-5">card 5</div>
  <div class="bg-teal-100 rounded p-5">card 6</div>
</div>

<div
  class="p-20 bg-orange-200 text-orange-800 grid grid-cols-4 grid-rows-3 gap-3"
>
  <div class="row-span-3 bg-orange-100 rounded p-5">image</div>
  <div
    class="col-span-2 row-span-2 bg-orange-100 rounded p-5 flex items-center justify-center"
  >
    content
  </div>
  <div class="bg-orange-100 rounded p-5">something</div>
  <div class="row-start-3 col-start-2 col-span-3 bg-orange-100 rounded p-5">
    footer
  </div>
</div>
