@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:hover {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00000040;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000060;
  border-radius: 3px;
}

body {
  overflow: overlay;
}

.header-nav-section {
  @apply bg-gradient-to-br from-gray-100 to-gray-300;
}