<!-- spacing -->
<div class="p-20 bg-green-700">
  <h2 class="mb-2 text-5xl font-bold text-green-100">Spacing Section</h2>
  <p class="mb-6 text-green-200 text-xl">Tailwind helps us space things out with margin and padding.</p>

  <button class="mr-3 py-2 px-4 bg-purple-600 hover:bg-purple-500 text-purple-100 rounded">Learn More</button>
  <button class="py-2 px-8 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 rounded shadow-lg">Sign Up</button>
</div>

<!-- box properties -->
<!-- background, borders, rounding, shadows -->
<div class="p-20 bg-blue-400">
  <h2 class="mb-4 text-4xl text-blue-800">Box Properties</h2>
  <div class="p-10 bg-purple-300 rounded-lg border border-purple-600 shadow-2xl text-purple-700 text-center font-bold uppercase tracking-widest">I am a box</div>
</div>

<!-- sizing & numbering -->
<div class="py-20 px-10 bg-orange-200">
  <button class="p-4 mr-1 bg-orange-400 rounded text-orange-100 w-8">click me</button>
  <button class="p-4 mr-1 bg-orange-400 rounded text-orange-100 w-12">click me</button>
  <button class="p-4 mr-1 bg-orange-400 rounded text-orange-100 w-20">click me</button>
  <button class="p-4 mr-1 bg-orange-400 rounded text-orange-100 w-32">click me</button>
  <button class="p-4 bg-orange-400 rounded text-orange-100 w-48 h-48">click me</button>
</div>

<!-- typography -->
<div class="p-20 bg-gray-200 text-gray-800 leading-relaxed">
  <h2 class="mb-1 text-4xl text-gray-700 font-bold tracking-wide">Learning Tailwind is Fun!</h2>
  <h3 class="mb-10 text-2xl text-blue-500">More fun than I expected!</h3>

  <p class="mb-8">Jelly-o cupcake dragée bonbon croissant caramels pastry. Halvah chocolate cake candy canes muffin brownie powder
    macaroon. Halvah jelly-o biscuit marshmallow apple pie soufflé halvah cake gingerbread. Gingerbread soufflé sugar
    plum
    toffee pie sweet roll cake oat cake jelly-o. Gummies liquorice biscuit gummies cake bear claw dessert gummies oat
    cake. Chupa chups gingerbread gummi bears cookie jelly beans soufflé cake biscuit jelly beans. Halvah marshmallow
    biscuit carrot cake jujubes brownie pudding pudding.</p>
  <p class="mb-8">Soufflé shortbread cupcake wafer halvah. Wafer sweet marzipan jelly ice cream apple pie bear claw topping cake.
    Apple
    pie chupa chups pastry chupa chups danish. Gingerbread muffin sweet roll lollipop donut sweet roll tart. Gummi bears
    dessert tootsie roll cupcake caramels bonbon tart topping caramels. Jelly beans powder wafer jujubes dragée biscuit
    muffin. Jelly-o tart soufflé powder candy canes. Chocolate tootsie roll chocolate cake macaroon danish croissant.
    Lollipop topping gingerbread sesame snaps tiramisu carrot cake chocolate bar chocolate cake.c</p>
  <p class="mb-8">Ice cream carrot cake jelly beans pudding cupcake brownie pie halvah. Muffin sweet roll carrot cake carrot cake
    muffin bear claw sugar plum wafer. Apple pie chocolate cake shortbread muffin danish bonbon candy. Chupa chups
    gummies
    oat cake tootsie roll croissant lollipop soufflé. Fruitcake sweet roll pie pastry lemon drops jelly beans sesame
    snaps
    toffee. Tiramisu tootsie roll lollipop tiramisu gummies gingerbread oat cake lemon drops. Toffee pastry pastry
    marshmallow ice cream.</p>
</div>

<!-- colors -->
<!-- psuedo classes -->
<!-- transitions & transforms -->
<!-- animation -->
<div class="p-20 bg-gray-400 space-y-2">
  <div class="p-4 rounded-lg bg-red-100 text-red-900 hover:bg-red-900 hover:text-red-100 hover:translate-x-10 hover:scale-105 transition duration-300">i am a box</div>
  <div class="p-4 rounded-lg bg-red-200">i am a box</div>
  <div class="p-4 rounded-lg bg-red-300">i am a box</div>
  <div class="p-4 rounded-lg bg-red-400 animate-pulse">i am a box</div>
  <div class="p-4 rounded-lg bg-red-500 animate-bounce">i am a box</div>
  <div class="p-4 rounded-lg bg-red-600 text-red-100">i am a box</div>
  <div class="p-4 rounded-lg bg-red-700 text-red-100">i am a box</div>
  <div class="p-4 rounded-lg bg-red-800 text-red-200">i am a box</div>
  <div class="p-4 rounded-lg bg-red-900 text-red-300">i am a box</div>
  <div class="p-4 rounded-lg bg-green-600 text-gray-200 border border-green-700">i am a box</div>
</div>

<!-- Gradients -->
<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-blue-100 to-purple-400">
  <h1 class="text-6xl font-bold bg-clip-text text-transparent bg-gradient-to-br from-blue-600 to-purple-800">Whoa Gradients!</h1>
</div>

